/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: system-ui, sans-serif;

}
.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}
header .container {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: #FFFFFF;
} img {
    max-width: 100%;
    height: auto;
    display: block;
}
header {
    background-color: white;
    font-size: 18px;
    border-bottom: 1px solid #e7e7e7;
    padding: 20px 0;
    text-align: left;
    width: 100%;
}

nav ul{
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    
}
nav ul li{
    padding : 10px;
}
nav ul li a{
    text-decoration: none;
    color:#6b7280;
}

nav ul li a:hover{
    color:#5A67D8;
}

.overview-hero{
    max-width: 100%;
    background-color: #E2E8F0;
    
}
.overview-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E8F0;
    gap: 30px;
}
.overview-hero-image img{
    width: 250px;
    height: 200px;
}

.overview-hero-text{
    flex: 1;
}

.learn-about .container > h2{
    grid-column: 1/4;
    font-size: 24px;
    color: #48bb78;
    align-items: center;
}
.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card-body h3{
    color: #48bb78;
    font-size: 21px;
}
.card-body p{
    margin: 0;
    color: #4a5568;
}
.testing{
    background-color: #4a5568;
    max-width: 100%;
    color: white;
    margin-top: 12px;
    border-radius: 5px;
}
.testing .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 110px 160px;
}

.testing .container .testing-desciption{
    text-align: left;
    grid-column: 1/3;
    
}

.testing .btn{
    padding: 10px 20px;
    background-color: #48bb78;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.stories article{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.stories img{
    width: 150px;
    height: auto;
    border-radius: 8px;
}
.article-body{
    flex: 1;
}
.article-body h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}
.stories h2{
    color: #5A67D8;
}
.article-body a{
    text-decoration: none;
    color: #5A67D8;
}
.article-body a:hover{
    text-decoration: underline;
}
.newsletter{

    padding: 40px 20px;
    text-align: center;
    background-color: #48BB78;
    color : white;
    
}
.newsletter form{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.newsletter input[type="email"]{
    padding: 0 10px;
    border: none;
    border-radius: 6px;
    width: 300px;
    color: #333;
    margin-right: 10px;
    height : 40px;
}

.newsletter button{
    padding: 10px 20px;
    background-color: #5A67D8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer{
    max-width: 100%;
    background-color: #4a5568;
    color: white;
    height: 85px;
    line-height: 80px;
}

footer p {
    margin: 0;
}